<html>
    <head>
        <title>Posts</title>
    </head>
    <form action="/posts/" method="GET">
        <input type="text" name="q" />
        <input type="submit" value="Search" />
    </form>
    <body>
        <h1>Posts</h1>
        {% for post in posts %}
            <h2>{{ post.author.user }}</h2>
            <p>{{ post.created_date }} in {{ post.author.location }}</p>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text }}</p>
            <br>
        {% endfor %}
    </body>
</html>